@media (max-width: 1200px)
    .menu
        padding-top: 12px
        &_link
            font-size: 12px
        &_item
            padding-right: 25px
    .promo_header
        font-size: 50px
    .reasons_block
        padding: 20px 0
        align-items: flex-start
    .reasons_descr
        padding-right: 0
    .mobile
        &_item
            width: 300px
    .footer
        &_download_app
            flex-direction: column
            img
                margin: 2px 0
        &_sociallinks
            margin-right: 0

@media (max-width: 992px)
    .menu
        &_link
            font-size: 10px
        &_item
            padding-right: 12px
    .subheader
        &_logo
            img
                width: 100%
        &_official
            font-size: 11px
        &_phone
            font-size: 18px
        &_btn
            width: 100%
            height: 40px
    .promo_header
        font-size: 40px
    .promo_subheader
        font-size: 30px
    .reasons
        &_block
            flex-direction: column
            align-items: center
        &_descr
            margin-top: 20px
    .mobile
        &_item
            width: 300px
    .footer
        &_nav
            margin-right: 50px

@media (max-width: 768px)
    .menu
        position: fixed
        flex-direction: column
        justify-content: center
        align-items: center
        top: 0
        left: -100%
        width: 50%
        height: 100vh
        padding: 20px 15px
        background-color: rgba(0,0,0, .8)
        transition: .6s all
        &_active
            left: 0
        &_item
            padding-right: 0
            border: none
            margin: 10px 0
        &_link
            font-size: 20px
    .hamburger
        display: block
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        width: 26px
        height: 12px
        span
            display: block
            height: 2px
            width: 100%
            background-color: #fff
            margin-bottom: 2px
            transition: .5s all
        &_active
            span
                margin-bottom: -2px
                &:nth-child(1)
                    transform: translateY(3px) rotate(-45deg)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: translateY(3px) rotate(45deg)
    .xs-hidden
        display: none
    .xs-visible
        display: block
    .subheader
        &_phone
            display: block
            margin-top: 7px
            font-weight: 400
            font-size: 16px
            text-transform: uppercase
            color: #FFFFFF
            text-align: center
        &_btn
            display: block
            width: 200px
            height: 40px
            margin: 0 auto
    .promo_header
        line-height: 40px
    .reasons
        &_round
            margin: 0
        &_subtitle
            text-align: center
        &_text
            padding: 0 30px
    .mobile
        &_item
            width: 250px
            height: 250px
    .choice
        min-height: 720px
        &_top_section
            img
                max-width: 100%
        &_descr
            padding-top: 110px
        &_bottom_section
            min-height: 220px
    .map
        min-height: 400px
        &_block
            padding: 24px 0 0 0
        &_link
            margin-top: 190px
    .footer
        padding: 15px 0 30px 0
        min-height: 300px
        flex-direction: column
        &_nav
            margin: 0
            order: 0
        &_sociallinks
            margin-top: 17px
            order: 1
        &_download_app
            margin-top: 19px            
            order: 2
            flex-direction: row
            img
                margin: 0 5px

@media (max-width: 575px)
    nav
        height: 32px
    .menu
        width: 85%
        &_item
            width: 100%
            text-align: center
        &_link
            display: block
            padding: 5px 0
    .hamburger_active
        margin-top: 2px
    .subheader
        margin-top: 32px
        height: 60px
        &_official
            display: none
        &_logo
            padding-top: 15px
        &_phone
            margin-top: 5px
            font-size: 12px
        &_btn
            margin-top: 6px
            width: 110px
            height: 22px
            font-size: 10px
    .promo
        min-height: 400px
        padding: 93px 0 35px 0
        &_descr
            display: none
        &_header
            margin-top: 40px
            padding: 0 24px
            font-size: 30px
            line-height: 35px
        &_subheader
            font-size: 20px
            line-height: 23px
        &_btn
            margin-top: 72px
            width: 210px
            height: 50px
            font-size: 16px
    .reasons
        padding: 22px 0 50px 0
        margin: 0
        &_block
            margin-top: 6px
        &_round
            margin: 0
            min-width: 100px
            min-height: 100px
        &_text
            padding: 0
        &_subtitle
            font-size: 16px
    .mobile
        padding: 25px 0 23px 0
        &_item
            width: 290px
            height: 254px
        &_item_subtitle
            font-size: 18px
    .choice
        min-height: 380px
        &_top_section
            min-height: 390px
            padding-top: 25px
            img
                margin-top: 34px
        &_bottom_section
            display: none
        &_descr_top
            display: block
            margin: 0 23px
        .title, .subtitle
            display: none
    .terms
        margin: 0
        margin-top: 22px
    .map
        min-height: 0
        padding-bottom: 30px
        a
            margin: 211px auto 0 auto
    .footer
        &_nav
            width: 100%
            &_main_links
                font-size: 14px
            &_second_links
                display: flex
                justify-content: space-around
                align-items: center
                flex-wrap: wrap
                font-size: 11px
                a
                    margin: 0 15px
            &_language
                font-size: 11px

    .title
        font-size: 16px
        margin-top: 15px
        line-height: 16px
    .subtitle
        margin-top: 5px
        margin-bottom: 0